<form action="/addsbook" method="post">
    <input type="text" name="name" placeholder="Book Name"> <br>
    <input type="text" name="Author" placeholder="Author Name"> <br>
    <input type="text" name="link" placeholder="Amazon Link Page"> <br>
    <input type="submit" name="submit">
</form>

<%- include ('./books/footer') %>